@font-face {
    font-family: 'Caveat';
    src: url('../fonts/mod3_caveat.ttf') format('truetype');
}
body {
    font-family: 'Itim';
}
@font-face {
    font-family: 'Chonburi';
    src: url('../fonts/mod3_chonburi.ttf') format('truetype');
}
@font-face {
    font-family: 'Itim';
    src: url('../fonts/mod3_itim.ttf') format('truetype');
}
